.mdl-data-table {
  @include typo-data-table;
  background-color: $background-color;
  color: $data-table-color;
  border: none;
  margin: auto;
  tr:last-child td {
    border: none;
  }
  td, th {
    &:first-of-type {
      padding-left: 16px;
    }
    &:last-of-type {
      padding-right: 16px;
    }
  }
  tr:hover {
    background-clip: padding-box;
  }
}

table.dataTable {
	thead {
		th {
			border-bottom: none;
			font-size: 16px;
			padding: 0 18px 20px 18px;
			&:focus {
				outline: none;
			}
		}
	}

	tbody {
		td {
			padding: 0 10px;
		}

		tr {
			background-color: transparent;
		}
	}
}

.dataTables_wrapper {
	.dataTables_info {
		color: $data-table-color !important;
	}
	.dataTables_paginate .paginate_button {
		border-radius: 0;
		color: $data-table-color !important;
		outline: none;
		&.current, &.current:hover {
			background: $data-table-color;
			border: none;
		}
		&:hover, &.active {
			background: transparent;
		}
	}
	.dataTables_filter {
		float: left;
		text-align: left;
		input {
			@extend .mdl-textfield__input;
			margin-left: 0;
		}
	}
}

.dt-btn-actions {
	i {
		cursor: pointer;
		width: 25px;
	}
}