#modal-container {
	background: unquote("rgba(#{$color-black}, 0.6)");
	.content {
		@extend .mdl-dialog;
		background: unquote("rgba(#{$color-white}, 1)");
		border: none;
		border-radius: 0;
		position: absolute;
		left: 50%;
		top: 35%;

		.header .title {
			@extend .mdl-dialog__title;
			color: unquote("rgba(#{$color-black}, 1)");
		}
		.body {
			@extend .mdl-dialog__content;
			color: rgba(0,0,0, 0.54);

			.confirm-dialog .confirm-buttons {
				@extend .mdl-dialog__actions;

				button {
					@extend .mdl-button;
					color: unquote("rgba(#{$color-black}, 1)");
				}
			}
		}
	}
}